<script th:fragment="script">
    function onClick(event, x){
        event.preventDefault();

        const parentControl = x
        .parentNode
        .parentNode
        .parentNode
        .querySelector(".id");

        const url = window.location.href;
        const state = {
            "id": parseInt(parentControl.textContent),
            "status": true
        };

        const jwt = localStorage.getItem('jwt');

        fetch(url, {

            method: 'PUT',

            headers: {

                'Authorization': `Bearer ${jwt}`,
                'Content-Type': 'application/json'

            },

            body: JSON.stringify(state)

        })
        .then(response => response.json())
        .then(data => {
            if(!data.success) return;
            location.reload();
        })
        .catch(error => Console.log(error));

    }


function onDelete(event, btn){
    event.preventDefault();

    const parentControl = btn
        .parentNode
        .parentNode
        .parentNode
        .querySelector(".id");

    const url = window.location.href + "/" + parentControl.textContent;
    const jwt = localStorage.getItem("jwt");

    fetch(url, {
        method: "DELETE",
        headers: {
            "Authorization": `Bearer ${jwt}`
        }
    })
    .then(response => response.json())
    .then(resp =>{
        if(!resp.success) return;
        location.reload();
    });
}


    document.addEventListener("DOMContentLoaded", () =>{

        const today = new Date();
        const options = {
            day:'numeric',
            month:'long',
            year:'numeric'
        };
        const formatter = new Intl.DateTimeFormat('ru-Ru', options);
        const formattedDate = formatter.format(today);

        document.querySelector(".current-month").textContent = formattedDate;

        if(localStorage.getItem('selectSort') === null){
            localStorage.setItem('selectSort', 'priority');
        }

        const sorter = document.getElementById("sort-patter");
        sorter.value = localStorage.getItem('selectSort');

        document
        .querySelectorAll(".submit-done")
        .forEach(x => {
            x.addEventListener("click", event => onClick(event, x));
        });

        document
        .querySelectorAll(".delete-btn")
        .forEach(x => {
            x.addEventListener("click", event => onDelete(event, x));
        });


    sorter.addEventListener('change', (event) => {

        const changeValue = event.target.value;
        const urlPatch = window.location.href + `/${changeValue}`;
        const jwt = localStorage.getItem('jwt');

        fetch(urlPatch, {
            method:'PATCH',
            headers:{
                'Authorization': `Bearer ${jwt}`
            }
        })
            .then(response => response.json())
            .then(resp => {
                localStorage.setItem('selectSort', changeValue);
                location.reload();
            })
            .catch(error => console.log(error));

    });

    });
</script>