<script th:fragment="script">
    function onClick(event, x){
        event.preventDefault();

        const parentControl = x
        .parentNode
        .parentNode
        .parentNode
        .querySelector(".id");

        const url = window.location.href;
        const state = {
            "id": parseInt(parentControl.textContent),
            "status": true
        };

        const jwt = localStorage.getItem('jwt');

        fetch(url, {

            method: 'PUT',

            headers: {

                'Authorization': `Bearer ${jwt}`,
                'Content-Type': 'application/json'

            },

            body: JSON.stringify(state)

        })
        .then(response => response.json())
        .then(data => {
            if(!data.success) return;
            location.reload();
        })
        .catch(error => Console.log(error));

    }

    function(event, btn){
        event.preventDefault();
        const parentControl = btn
            .parentNode
            .parentNode
            .parentNode
            .querySelector(".id");

        const url = window.location.href + "/" + parentControl.textContent;

    }


function onDelete(event, btn){
    event.preventDefault();

    const parentControl = btn
        .parentNode
        .parentNode
        .parentNode
        .querySelector(".id");

    const url = window.location.href + "/" + parentControl.textContent;

    fetch(url, {
        method = "DELETE"
    })
    .then(response => response.json())
    .then(resp => console.log(resp));
}


    document.addEventListener("DOMContentLoaded", () =>{

        document
        .querySelectorAll(".submit-done")
        .forEach(x => {
            x.addEventListener("click", event => onClick(event, x));
        });

        document
        .querySelectorAll(".delete-btn")
        .forEach(x => {
            x.addEventListener("click", event => onDelete(event, x));
        });
    });
</script>