<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style th:replace="blocks/settingStyle :: styles"></style>
</head>
<body>
    <header>
        <nav>
            <div class="logo">Ежедневник</div>
            <ul>
                <li><a href=".">Главная</a></li>
            </ul>
            <li>Настройки</li>
        </nav>
    </header>

    <div class="holder">
        <a href="#person" class="hlink">Персональные данные</a>
    </div>
    <main>
        <div class="containers">
            <div class="container" id="person">
                <nav>
                    <div class="personinfo" >
                        <input type="text" name="firstname-user" class="firstname active" th:disabled="${enable}" th:value="${user.firstname}"/>
                        <input type="text" name="lastname-user" class="lastname active" th:disabled="${enable}" th:value="${user.lastname}"/>
                    </div>
                    <img src="../examples/Profil1.png" alt="Фото профиля" class="userphoto">
                </nav>
                <input type="email" name="email-user" class="email active" th:disabled="${enable}" th:value="${user.email}"/>
                <input type="password" name="pass-new" id="pass-new" class="password active" th:disabled="${enable}"/>

                <div class="btn-content">
                    <button class="beforb transformhover">Редактировать</button>
                    <a class="logout transformhover" href="/v1/todo">Выйти</a>
                </div>
            </div>
        </div>
    </main>

    <footer></footer>
</body>
</html>
