<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style th:replace="blocks/auth/sigupStyle.html"></style>
    <style th:replace="blocks/public_style :: style"></style>
</head>
<body>
    <header>
        <nav>
            <div class="logo">Ежедневник</div>
            <ul>
                <li><a href="../../todo">Главная</a></li>
            </ul>
            <li>Регистрация</li>
        </nav>
    </header>

    <main>
        <div class="create-user-container">
            <h1>Регистрация</h1>
            <h3 class="except"></h3>
            <form class="create-user-form">
                <div class="from-group">
                    <label for="first-name">Имя</label>
                    <input type="text" id="first-name" name="firstname">
                </div>

                <div class="from-group">
                    <label for="last-name">Фамилия</label>
                    <input type="text" id="last-name" name="lastname">
                </div>
                <div class="from-group">
                    <label for="email-user">Электронная почта</label>
                    <input type="email" id="email-user" name="email">
                </div>
                <div class="from-group">
                    <label for="login-user">Логин</label>
                    <input type="text" id="login-user" name="login">
                </div>
                <div class="from-group">
                    <label for="pass-user">Пароль</label>
                    <input type="password" id="pass-user" name="password">
                </div>

                <div class="from-group">
                    <nav class="content-button">
                        <button type="submit" class="submit-reg btn">Регистрация</button>
                        <a href="./auth" class="auth btn">Авторизация</a>
                    </nav>
                </div>
            </form>
        </div>
    </main>

    <footer></footer>

    <script th:replace="scripts/sigup_sc :: script"></script>
</body>
</html>