<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style th:replace="blocks/auth/sigupStyle.html"></style>
</head>
<body>
    <header>
        <nav>
            <div class="logo">Ежедневник</div>
            <ul>
                <li><a href="../../todo">Главная</a></li>
                <li><a href="#">Задачи</a></li>
                <li><a href="../../todo/setting">Настройки</a></li>
            </ul>
            <li>Регистрация</li>
        </nav>
    </header>

    <main>
        <div class="create-user-container">
            <h1>Регистрация</h1>
            <h3 class="except" th:if="${param.err}">Не все поля были заполнены</h3>
            <form th:object="${user}" class="create-user-form" method="post">
                <div class="from-group">
                    <label for="firstname">Имя</label>
                    <input type="text" id="firstname" name="firstname">
                </div>

                <div class="from-group">
                    <label for="lastname">Фамилия</label>
                    <input type="text" id="lastname" name="lastname">
                </div>
                <div class="from-group">
                    <label for="email">Электронная почта</label>
                    <input type="email" id="email" name="email">
                </div>
                <div class="from-group">
                    <label for="login">Логин</label>
                    <input type="text" id="login" name="login">
                </div>
                <div class="from-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password">
                </div>

                <div class="from-group">
                    <button type="submit" class="submit-reg">Регистрация</button>
                </div>
            </form>
        </div>
    </main>



    <footer></footer>
</body>
</html>